<footer>
  <div class="grid-container">
    <div class="item1">
      <div class="site-banner">
        <div class="site-banner-content">
          <h1 class="site-banner-title">Let's Work Together</h1>
          <h3 class="site-banner-subtitle">
            Have a project you'd like to discuss?
          </h3>
          <h3>Web / Android / Softaware</h3>

          <button mat-flat-button  style="margin-top: 12px">
            Contact me
          </button>
        </div>
      </div>
    </div>
    <div class="site-banner-item " >
      <div >
        <div>
            <a 
              href="https://www.instagram.com/shivam_nirhali/"
              mat-button>
              <div class="footer-icons" ><mat-icon [inline]=true  svgIcon="insta"></mat-icon> Instagram </div></a>
          </div>
      <div>
        <a 
          href="https://www.instagram.com/shivam_nirhali/"
          mat-button>
          <div class="footer-icons"><mat-icon [inline]=true  svgIcon="linkedin"></mat-icon> LinkedIn </div></a>
      </div>
      <div >
        <a 
        href="https://github.com/srnirhali/"
        mat-button>
            <div class="footer-icons"><mat-icon [inline]=true  svgIcon="github" >github</mat-icon>  Github </div></a>
      </div>
    </div>
    </div>
  </div>
</footer>
<div style="width: 100%; height: 56px; background-color: cornsilk; color: #673ab7;text-align: center;"> <p> Copy Right Shivam Nirhali</p></div>
