<header
>
  <div class="site-banner">
    <div class="site-banner-content" >
      <h1 class="site-banner-title">
        Hi, I am Shivam
      </h1>
      <h3 style="font-size: 25px; font-weight: 300">
        A Full-stack Software Developer.</h3>
       <h3> Web / Android / Softaware
      </h3>

      <button mat-flat-button (click)="download()" style="margin-top: 12px">
        <mat-icon  >download</mat-icon> Download Resume
      </button>
    </div>
    <div  class="site-banner-image" >
        <div class="overlap-img">
            <img
            
            class="mat-elevation-z6  banner-profile-image"
            src="assets/images/profile1.jpg"
            alt="Avatar"
            
          />
      </div>
      
    </div>
  </div>
</header>
