

.example-spacer {
    flex: 1 1 auto;
  }
 

  img{
      border-radius: 50%;
  }
  
.color-primary {
    background: #673ab7;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(103, 58, 183);
    color: #fff;
  }

    
  