<mat-toolbar class="mat-elevation-z6" color="primary" style="position: sticky;">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Protfolio</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon svgIcon="insta">insta</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon svgIcon="github">github</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon svgIcon="linkedin">github</mat-icon>
  </button>
</mat-toolbar>

<header class="color-primary" style="width: 100%; height: 30%">
  <div class="title-center-toolbar">
      <div style="padding-top: 30px;">
    <img
    class="mat-elevation-z24"
      src="assets/images/profilesquare.jpeg"
      alt="Avatar"
      style="width: 100px ;height: 100px;"
    />
</div>
    <div  class="docs-header-section ">
      <div _ngcontent-ylx-c63="" class="docs-header-headline">
        <h1 _ngcontent-ylx-c63="" class="mat-h1">Shivam Nirhali</h1>
        <h3  class="mat-h3" >Full-Stack Developer</h3>
      </div>
      
    </div>
  </div>
</header>
<div style="height: 100px;"></div>