<mat-toolbar class="mat-elevation-z6" color="primary" style="position: sticky;">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Protfolio</span>
  <span class="example-spacer"></span>
  <a
  href="https://www.instagram.com/shivam_nirhali/"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon svgIcon="insta">insta</mat-icon>
</a>
  <a
    href="https://github.com/srnirhali/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
  <mat-icon svgIcon="github" >github</mat-icon>
  
    
</a>
  <a
  href="https://www.linkedin.com/in/srnirhali/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon svgIcon="linkedin">github</mat-icon>
</a>
<a
  href="/src/assets/icons/github.svg"
    mat-icon-button
    download
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon svgIcon="linkedin">github</mat-icon>
</a>
</mat-toolbar>
