

 

  img{
      border-radius: 50%;
  }

  mat-drawer-container{
    background-color: #ddd;
  }

  .sidenav{
    text-align: center;
    display: block;
    width: 300px;
   padding: 10px 20px;
  }
.color-primary {
    background: #673ab7;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(103, 58, 183);
    color: #fff;
  }

  mat-icon{
    fill: #673ab7;
  }
  