
 <div class="site-banner" style="display: flex;">
  <div style="margin-right: 147px;" >
    <div style=" display: flex;">
      <div style="padding-top: 20px; color:#fff">
        <h1 class="mat-h1" style="font-size: 35px;font-weight: 500;">Hi, I am Shivam</h1>
        <h3  style="font-size: 25px;font-weight: 400;" >Web, Android, Software Developer</h3>
        
        <button mat-flat-button    style="margin-top: 12px;" ><mat-icon >download</mat-icon> Download Resume </button>
      </div>
      
      
      
      
    </div>
    
  
  </div>
  
  
  
  
</div>

<div class="" style="width: 60%;">
  <div  style="float: right; text-align: right;">
    <img
      class="mat-elevation-z6 img-rounded "
      src="assets/images/profilesquare.jpeg"
      alt="Avatar"
      style="width: 200px; height: 200px"
    />
  </div>
</div>
 