.header-section{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px ;
    background-color: #673ab7;
    padding-bottom: 120px;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  }
  .footer-section{
    padding-top: 120px;
    color: #fff;
    background-color: #673ab7;
    
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  }
  mat-divider{
   background-color: #673ab7; height: 3px; border-radius: 20px;
  }
  
  
  
  .example-sidenav {
    width: 300px;
    padding: 20px;
  }
  
  
  @media screen and (max-width:1000px) {
    .header-section{
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 100px;
      padding-bottom: 120px;
       
    }
    .footer-section{
      padding-top: 100px;
      
    }
    
  }