/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "vegas";
  src: local("vegas"), url(./assets/fonts/VeganStylePersonalUse-5Y58.ttf) format("truetype");
}
html, body { height: 100%; background-color: #ddd; color: #673ab7; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.color-primary {
    background: #673ab7;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(103, 58, 183);
    color: #fff;
  }
  .img-rounded{
    border-radius: 40% 0%;
}
mat-icon,.color-primary {
  color: #673ab7;
  fill: #673ab7;
}

.section{
  color: #673ab7;
  padding: 50px 100px;
  background-color: #ddd;
  
  
}
.section-white{
  color: #673ab7;
  padding: 50px 100px;
  background-color: #ddd;
  
}

.header-section{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px ;
  background-color: #673ab7;
  padding-bottom: 120px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}
.footer-section{
  padding-top: 120px;
  color: #fff;
  background-color: #673ab7;
  
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
mat-divider{
 background-color: #673ab7; height: 3px; border-radius: 20px;
}



.example-sidenav {
  width: 300px;
  padding: 20px;
}


@media screen and (max-width:1000px) {
 
  
}

@media screen and (max-width:1000px) {
  .section{
    padding: 50px;
     
  }
  .section-white{
    
    padding: 50px 50px;
    
  }
  .header-section{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 100px;
    padding-bottom: 120px;
     
  }
  .footer-section{
    padding-top: 100px;
    
  }
}
@media screen and (max-width:600px) {
  .section{
    padding: 50px 0px;
     
  }
  .section-white{
    
    padding: 50px 0px;
    
    
  }
}