<mat-card class="example-card" style=" height: 100%;">
    <mat-card-header>
        <mat-card-title>{{pro.projectName}} <a
          href={{pro.link}}
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
        <mat-icon svgIcon="github" >github</mat-icon>
        
          
      </a> </mat-card-title>
        <mat-card-subtitle>AT company</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
       {{pro.discription}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-chip-list
        >
        <span
          class="mat-chip  mat-primary mat-standard-chip" style="position: static;"
          *ngFor="let project of pro.tools">
          {{project}}
    </span>
      </mat-chip-list>
      
    </mat-card-actions>
  </mat-card>